<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">

  <div class="rounded-t mb-0 px-4 py-3 border-0" style="margin-top: 30px;">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-gray-800">
          Solicitações
        </h3>
      </div>
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
        <input
        class="px-3 py-3  text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
        type="date" name="search" [(ngModel)]="searchText" placeholder="Digite a data">
      </div>

      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">

        <button
        class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button" style="background: rgb(1, 54, 20);" (click)="imprimir()">
      <i class="fa fa-print" aria-hidden="true">

      </i>  Imprimir
      </button>
</div>

    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Data
          </th>
          <!-- <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Total
          </th> -->
          <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Pedido
          </th>
          <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Entrega
          </th>
          <!-- <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Pagamento
          </th> -->
          <th
            class="px-6 bg-gray-100 text-gray-600 align-middle border border-solid border-gray-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pedidos  | filter:searchText" style="border-bottom: 1px solid rgb(211, 211, 211);">
          <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left">
            {{p.data.toDate() | date:'dd/MM/yyyy HH:mm'}}
          </th>
          <!-- <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            R${{p.total}}
          </td> -->
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            <div *ngFor="let item of p.itens"
              style="border-radius: 5px; border: rgb(187, 187, 187) 1px solid; padding: 5px">
              <span style="font-weight: 700;"> {{item.titulo}} </span>

              <!-- Adicionais -->
              <div *ngFor='let a of item.adicionais'>
                <p *ngIf="a.checked">+ {{a.titulo}} | R${{a.preco}}</p>
              </div>
              <div *ngFor='let a of item.variacoes'>
                <p *ngIf="a.checked">{{a.titulo}}</p>
              </div>
              <p *ngIf="item.obs">Obs: {{item.obs}}</p>
            </div>

          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            <p><span style="font-weight: 700;">Professor: </span>{{p.cliente.nome}}</p>

            <div >
              <p><span style="font-weight: 700;">Dia: </span>{{p.cliente.dia}}</p>
            </div>

            <!-- <p><span style="font-weight: 700;">Dia: </span>{{p.cliente.dia}}</p> -->
           
            <div>
              <p><span style="font-weight: 700;">Horário: </span>{{p.cliente.horario}}</p>
            </div>

            <!-- <p><span style="font-weight: 700;">Horário: </span>{{p.cliente.horario[0]}}</p> -->
            <!-- <p><span style="font-weight: 700;">CEP: </span>{{p.cliente.cep}}</p>
            <p><span style="font-weight: 700;">Cidade: </span>{{p.cliente.cidade}}</p>
            <p><span style="font-weight: 700;">Rua: </span>{{p.cliente.rua}}</p>
            <p><span style="font-weight: 700;">N°: </span>{{p.cliente.numero}}</p>
            <p><span style="font-weight: 700;">Bairro: </span>{{p.cliente.bairro}}</p>
            <p><span style="font-weight: 700;">Complemento: </span>{{p.cliente.complemento}}</p> -->
          </td>
          <!-- <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4">
            <div *ngFor="let pp of p.cliente.pagamentos">
              <p *ngIf="pp.checked">{{pp.titulo}}</p>
              <p *ngIf="pp.troco">Troco: {{p.cliente.troco}}</p>
            </div>

          </td> -->
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
            style="text-align: center;">
            <p style="margin-bottom: 5px; text-transform: capitalize; text-align: center; font-weight: 700;">
              {{p.status}}
            </p>
            <button *ngIf="p.status == 'aguardando'"
              class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" style="background: rgb(0, 148, 13);" (click)="aceitar(p.id)">
              Aceitar
            </button>

            <button *ngIf="p.status == 'aguardando'"
              class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" style="background: rgb(163, 4, 4);" (click)="recusar(p.id)">
              Recusar
            </button>

            <button *ngIf="p.status == 'Agendado'"
              class="bg-indigo-500 align-middle text-white items-center active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" style="background: rgb(224, 183, 0);" (click)="saiuEntrega(p.id)">
              <div class="align-middle">
                <p> <img [src]="p.imagem" class="h-12 w-12 bg-white align-middle items-center rounded-full border" alt="..." />  </p>  
              </div>
              <p> {{p.cliente.nome}} </p>
              <p> {{p.cliente.dia}} </p>
              <p> {{p.cliente.horario}} </p>
              
              <div *ngFor="let item of p.itens"
              style="border-radius: 5px; border: rgb(187, 187, 187) 1px solid; padding: 5px">
              <span style="font-weight: 700;"> {{item.titulo}} </span>
              </div>
              
              <p> Marcar como retirado </p>
            </button>

            <button *ngIf="p.status == 'Aguardando entrega'"
              class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" style="background: rgb(224, 119, 0);" (click)="finalizado(p.id)">
              Marcar como entregue
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>